<html>
   <body>
      <table style='font-family:"Courier New", Courier, monospace; font-size:180%' border=1>
          <tr>
              <td>mnist image classifier</td>
          </tr>
          <br>
          <tr>
              <td>
                  <form action = "upload" method = "POST" enctype = "multipart/form-data">
                     <input type = "file" name = "file" />
                     <input type = "submit"/>
                  </form>
              </td>
          </tr>
      </table>
   </body>
</html>